  

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formContainer {
  background-color: white;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  border: 1px solid #ff4c24;
  background-color: #fff4f2;
  padding: 20px 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.logo {
  color: #ff4c24;
  font-size: 24px;
  font-weight: bold;
}
.title {
  color: #ff4c24;
  font-size: 18px;
  font-weight: bold;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-input {
  padding: 15px 25px;
  border: 1px solid tomato;
  border-radius: 10px;
}

.register-input:focus {
  outline: none;
}

.register-input::placeholder {
  color: rgb(175 175 175);
}

.register-button {
  background-color: tomato;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.register-button:hover {
   background-color: #85847d;

}

.have-account {
  color: #49557E;
  margin-top: 10px;
}

.move-link {
  color: #49557E;
  margin-left: 10px;
  font-size: 0.8rem;
  cursor: pointer;
}

.move-link:hover {
  color: #ff4c24;
} */
