.dropdown-menu {
  width: 198px;
  position: absolute;
  top: 121px;
  list-style: none;
  text-align: start;
    border-radius: 5px;

}

.dropdown-menu li {
  background: #cf9c73;
  cursor: pointer;
  /* border: 1px solid black; */
}

.dropdown-menu li:hover {
  background: #d86b13;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {

  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}
