.slider-container {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.event-img {
  width: 100%;
  height: auto; 
  max-height: 400px;
  object-fit: cover; 
  border-radius: 15px; 
  background-color: #f8f9fa;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
