.navbar {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #323232;
  transition: all 0.3s ease;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.navbar-brand a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
.navbar-toggle {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  display: none; /* Hide on larger screens */
}
.navbar-collapse {
  display: flex;
  align-items: center;
}
.navbar-links {
  display: flex;
  gap: 1rem;
}
.navbar-links a {
  color: white;
  text-decoration: none;
}
.navbar-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar-icons a {
  color: white;
}
.navbar-dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navbar-dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-divider {
  height: 1px;
  background-color: #ddd;
  margin: 4px 0;
}
@media (max-width: 768px) {
  .navbar-collapse {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-collapse.show {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }
}
