.alert-title {
  font-size: 14px; /* Adjust the font size as needed */
}

.alert-body {
  font-size: 12px; /* Adjust the font size as needed */
}

.event-img {
  width: 100%;
  height: auto; 
  max-height: 400px;
  object-fit: cover; 
  border-radius: 15px; 
}


/* CategorySection.css */
.card-custom:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
